@model lafacustorev2.Models.Contacto
<h2>Contacto</h2>

@using (Html.BeginForm("EnviarMensaje", "Contacto", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Message)
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
}

 <h1>@ViewData["Message"]</h1>